extends layout

block content
  h1 Cadastro de Produto
  if error
    p.erro #{error}
  form(action="/cadastro-produtos" method="post")
    div
      label(for="nomeProduto") Nome do Produto:
      input(type="text" id="nomeProduto" name="nomeProduto" required)
    div
      label(for="descricao") Descrição:
      textarea(id="descricao" name="descricao" required)
    div
      label(for="preco") Preço:
      input(type="number" step="0.01" id="preco" name="preco" required)
    div
      button(type="submit") Cadastrar Produto
