extends layout

block content
  .content
    h1 Bem-vindo à WW Loja de Equipamentos de TI!
    p Aqui você pode encontrar e cadastrar produtos de informática.

    h2 Produtos Disponíveis
    if produtos.length
      each produto in produtos
        .produto
          h3= produto.nome
          p Descrição: #{produto.descricao}
          p Preço: R$ #{produto.preco}
    else
      p Nenhum produto disponível no momento.
