extends layout

block content
  .content
    h1 Login
    if error
      p.error= error
    form.pure-form.pure-form-stacked(action="/login", method="post")
      fieldset
        label(for="email") Email:
        input(type="email", id="email", name="email", required)
        label(for="senha") Senha:
        input(type="password", id="senha", name="senha", required)
        button.pure-button.pure-button-primary(type="submit") Entrar
