extends layout

block content
  h1 Lista de Produtos de Informática
  each produto in produtos
    .produto
      h2= produto.nome
      p Descrição: #{produto.descricao}
      p Preço: R$ #{produto.preco}
