extends layout

block content
  .content
    h1 Produtos Disponíveis
    if produtos.length
      each produto in produtos
        .produto
          h3= produto.nome
          p Descrição: #{produto.descricao}
          p Preço: R$ #{produto.preco}
    else
      p Nenhum produto disponível no momento.
